* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo {
    color: #111;
    font-weight: 700;
    font-size: 25px;
}
.logo span {
    color: blue;
}

nav {
    display: flex;
    gap: 25px;
}
nav a {
    color: #111;
    text-decoration: none;
    font-weight: 400;
    transition: 350ms;
}
nav a:hover {
    color: #333;
    cursor: pointer;
    text-shadow: 0.2px 0 0 #111, -0.2px 0 0 #111;
}

.contacts-block {
    display: grid;
    padding: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
}
.contacts-block h2 {
    color: #111;
}

.contacts-block a {
    text-decoration: none;
    color: #333;
    background-color: #eee;
    padding: 8px 15px;
    border-radius: 50px;
    transition:750ms;
}
.contacts-block a:hover {
    color: #111;
    text-shadow: 0.2px 0 0 #111, -0.2px 0 0 #111;
    background-color: #ddd;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 900px;
    padding: 50px;
    align-items: start;
    background-color: white; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    justify-self: center;
    align-self: center;
}
.left-section {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.about-block {
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
.about-block h2 {
    font-size: 25px;
    font-weight: 700;
}
.about-block ul {
    display: grid;
    padding-left: 20px;
    margin-top: 5px;
    color: #333;
    gap: 5px;
}
.requisition {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.requisition a {
    display: flex;
    text-decoration: none;
    background-color: #111;
    color: white;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    transition: 450ms;
}
.requisition a:hover {
    background-color: #070b0e;
    text-shadow: 0.2px 0 0 #eee, -0.2px 0 0 #eee;
}
footer {
    display: flex;
    padding: 25px 40px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    color: #111;
    font-size: 16px;
    width: 100%;
}

.footer-links{
    display: flex;
    gap: 25px;
}
footer a{
    color: #111;
    text-decoration: none;
    transition: 350ms;
}
.footer-links a:hover{
    color:#111 ;
    text-shadow: 0.2px 0 0 #111, -0.2px 0 0 #111;
}